/* ****************************** */
/* GLOBAL */
/* ****************************** */

p {
    line-height: 150%
}




/* ****************************** */
/* SPACING */
/* ****************************** */

.space {
    display: block;
    max-width: 100%;
    color: #fff;
    height: 300px;
}



/* ****************************** */
/* CONTAINER */
/* ****************************** */

body, html {
    margin: 0;
    font-family: 'Cormorant Upright', serif;
    font-size: 20px;
}

.container {
    max-width: 100%;
    color: #fff;
}


/* ****************************** */
/* HEADER */
/* ****************************** */


/* NAVIGATION */

nav {
    width: 100%;
    height: 58px;
    display: block;
    overflow: hidden;
}

.header-title {
    font-family: 'Marck Script', cursive;
    display: inline-block;
    margin: 0;
    padding-top: 15px;
    padding-left: 20px;
    color: #fff;
    margin-left: 15%;

}

.header-title a:link,
.header-title a:visited {
    text-decoration: none;
    color: #fff;
}

.nav-menu {
    margin: 0;
    float: right;
    list-style: none;
    padding-top: 20px;
    padding-right: 10px;
    margin-right: 18%;
}

.nav-menu li {
    display: inline-block;
    margin-left: 50px;
    text-transform: uppercase;
}

.nav-menu li a:link,
.nav-menu li a:visited {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-menu li a:hover,
.nav-menu li a:active {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid rgb(104, 190, 47);
    padding-bottom: 5px;
}

#menu-earth:hover,
#menu-earth:active {
    border-bottom: 2px solid rgb(218, 112, 12);
}

#menu-fire:hover,
#menu-fire:active {
    border-bottom: 2px solid rgb(248, 48, 48);
}

#menu-water:hover,
#menu-water:active {
    border-bottom: 2px solid rgb(45, 222, 228);
}

header {
    height: 900px;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.4)),  url('img/best-iceland-landscape-photography-locations-Northern-Lights-800x508.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.header-container {
    position: absolute;
    width: 1000px;
    top: 30%;
    left: 20%;
}

#main-header {
    font-size: 60px;
    margin-top: 0;
}

.header-container p {
    font-size: 25px;
    text-indent: 10px;
}




/* ****************************** */
/* SECTION INTRO */
/* ****************************** */

.intro {
    color: #000;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.intro h2 {
    text-align: center;
    font-size: 200%;
}

.intro h2:after {
    display: block;
    content: " ";
    background-color: rgb(104, 190, 47);
    height: 3px;
    width: auto;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
}

.intro p {
    text-indent: 15px;
    margin-top: 4%;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 4%;
    font-size: 22px;
}



/* ****************************** */
/* SECTION INTRO PHOTOS */
/* ****************************** */

.intro-photos {
    overflow: hidden;
}


.intro-photos img {
    width: 50%;
    height: 400px;
    float: left;
}


/* ****************************** */
/* EARTH HEADER */
/* ****************************** */

.earth-elements-header {
    height: 900px;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.4)),  url('img/earth_iceland.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 10px;
}

.header-container-earth {
    position: relative;
    width: 1000px;
    top: 30%;
    left: 20%;
}

.elements-header .header-container-earth h1 {
    font-size: 400%;
}


/* ****************************** */
/* SECTION EARTH ITEMS */
/* ****************************** */

.nature-earth {
    color: #000;
    padding-top: 100px;
}

.nature-earth h2 {
    text-align: center;
    font-size: 200%;
    margin-top: 0;
}

.nature-earth h2:after {
    display: block;
    content: " ";
    background-color: rgb(104, 190, 47);
    height: 3px;
    width: auto;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
}

.nature-earth img {
    display: inline-block;
    height: 500px;
    width: 48%;
    overflow: hidden;
    margin: 0;
}

.nature-earth p {
    display: inline-block;
    float: right;
    margin: 60px 40px;
    width: 45%;
    font-size: 25px;
    text-indent: 10px;
}

.nature-earth:nth-child(2n) {
    background-color: #f4f4f4;
}






/* ****************************** */
/* FIRE HEADER */
/* ****************************** */

.fire-elements-header {
    height: 900px;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.4)), url('img/fire.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 10px;
}

.header-container-fire {
    position: relative;
    width: 1000px;
    top: 30%;
    left: 20%;
}

.elements-header .header-container-fire h1 {
    font-size: 60px;
}


/* ****************************** */
/* SECTION FIRE ITEMS */
/* ****************************** */

.nature-fire {
    color: #000;
    padding-top: 100px;
}

.nature-fire h2 {
    text-align: center;
    font-size: 200%;
    margin-top: 0;
}

.nature-fire h2:after {
    display: block;
    content: " ";
    background-color: rgb(104, 190, 47);
    height: 3px;
    width: auto;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
}

.nature-fire img {
    display: inline-block;
    height: 500px;
    width: 48%;
    overflow: hidden;
    margin: 0;
}

.nature-fire p {
    display: inline-block;
    float: right;
    margin: 60px 40px;
    width: 45%;
    font-size: 25px;
    text-indent: 10px;
}

.nature-fire:nth-child(2n) {
    background-color: #f4f4f4;
}




/* ****************************** */
/* WATER HEADER */
/* ****************************** */

.water-elements-header {
    height: 900px;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.4)), url('img/waterrr.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 10px;
}

.header-container-water {
    position: relative;
    width: 1000px;
    top: 30%;
    left: 20%;
}

.elements-header .header-container h1 {
    font-size: 60px;
}


/* ****************************** */
/* SECTION WATER ITEMS */
/* ****************************** */

.nature-water {
    color: #000;
    padding-top: 100px;
}

.nature-water h2 {
    text-align: center;
    font-size: 200%;
    margin-top: 0;
}

.nature-water h2:after {
    display: block;
    content: " ";
    background-color: rgb(104, 190, 47);
    height: 3px;
    width: auto;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
}

.nature-water img {
    display: inline-block;
    height: 500px;
    width: 48%;
    overflow: hidden;
    margin: 0;
}

.nature-water p {
    display: inline-block;
    float: right;
    margin: 60px 40px;
    width: 45%;
    font-size: 25px;
    text-indent: 10px;
}

.nature-water:nth-child(2n) {
    background-color: #f4f4f4;
}


/* ****************************** */
/* QUOTES */
/* ****************************** */



blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    font-size: 25px;
}

blockquote:before {
    content: "\201C";
    font-size: 200%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}


/* ****************************** */
/* FOOTER */
/* ****************************** */

footer {
    background-color: rgba(8, 20, 8, 0.897);
    padding: 40px;
}

.footer-nav {
    display: block;
}

.footer-nav ul {
    list-style: none;
    margin-top: 0;
}

.footer-nav ul li {
    display: inline-block;
    margin-top: 15px;
    margin-right: 20px;

}

.footer-nav ul li a:link,
.footer-nav ul li a:visited {
    text-decoration: none;
    color: rgb(128, 128, 128);
}

.footer-nav ul li a:hover,
.footer-nav ul li a:active {
    color: #ddd;
}

.footer p {
    display: block;
    margin: 0;
    text-align: center;
    color: rgb(128,128,128);
}



/* ****************************** */
/* NATURE PHOTOS */
/* ****************************** */

.nature-photos h2 {
    color: #000;
    font-size: 200%;
    margin-left: 15%;
    margin-bottom: 10%;
}

.photos img {
    max-width: 33%;
}

.nature-photos {
    display: block;
}

/* ****************************** */
/* ICONS */
/* ****************************** */

ion-icon {
    display: inline-block; 
    font-size: 40px;
    color: #000;
}



/* ****************************** */
/* ANIMATE.CSS */
/* ****************************** */

#main-header {
    animation-duration: 1s;
    animation-delay: 0.5s;
    /* animation-iteration-count: infinite; */
}

blockquote {
    animation-duration: 1s;
    animation-delay: 0.5s;
}


/* ****************************** */
/* STICKY NAVIGATION */
/* ****************************** */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(46, 95, 39, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    margin-bottom: 0;
}



/* ****************************** */
/* BUTTONS */
/* ****************************** */

.btn {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 40% 10% 40%;
    background-color: rgba(46, 95, 39, 0.98);
    text-align: center;
    border-radius: 10px;
    padding: 5px 5px;
}

.btn a:link,
.btn a:visited {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 35px;
}

.btn:hover,
.btn:active {
    background-color: rgba(60, 161, 46, 0.98);
    transition: background-color 1s;

}





